@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {

    @media (min-width:640px) {
        .Footer_nav__2rFid {
            grid-template-rows:repeat(3,auto) 1fr
        }
    }
    @media (min-width:768px) {
        .Footer_nav__2rFid {
            grid-template-rows:repeat(3,auto)
        }
    }
    @media (min-width:1024px) {
        .Footer_nav__2rFid {
            grid-template-rows:auto 1fr;
        }
    }
}